h1 Index
p Hola soy el índice
h3 Esto es un ejemplo de
ul
  - @list.each_with_index do |number, i|
    li id="num-#{ i + 1 }" = "El número de la posición es #{ i } con valor #{ number }"
p termina el listado
| Texto sin div
